/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";
@import "grid.scss";

@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);

// Colors
// TODO: Give these more meaningful names
$pink: #fe5a62;
$red: #7E2D30;
$blue: #767495;
$white: #fff;
$black: #000;
$grey: #eee;
$dark-grey: #ccc;

// Fonts
$primary-font: Helvetica;
$title-font: 'PT Sans', sans-serif;

// Images
$ribbon-image: 'ribbon.png';

// Media query breakpoints
$break-large: 960px;
$break-tablet-port: 768px;
$break-header: 540px;
$break-mobile-land: 480px;
$break-mobile-port: 320px;

// Spacing
$button-padding: 4px;
$ribbon-padding: 16px;

@mixin button {
  @include border-radius($button-padding);
  padding: $button-padding $button-padding * 2;
}

@mixin ribbon {
  @include background(image-url($ribbon-image) no-repeat 50% 50%);
  border: none;
  color: $white;
  font-size: 1em;
  line-height: image-height($ribbon-image);
  margin: 0 0 0.5em 0;
  min-width: image-width($ribbon-image);
  text-align: center;
  text-transform: uppercase;
}

@mixin replace-text-with-dimensions-retina($img, $extension: png) {
  @include replace-text-with-dimensions("#{$img}.#{$extension}");

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
         only screen and (min-device-pixel-ratio: 1.5) {

    $pixel-img: "#{$img}@2x.#{$extension}";

    @include replace-text($pixel-img);
    background-size: 100% auto;
    height: image-height($pixel-img) / 2;
    width: image-width($pixel-img) / 2;
  }
}

body {
  background-color: $pink;
  font-family: $primary-font;
}

h1 {
  font-size: 2.5em;
}

h2 {
  border-bottom: solid 1px $red;
  color: $red;
  font-size: 2em;
  margin: 0 0 1em 0;
}

h3 {
  color: $red;
  font-size: 1.3em;
  margin: 1em 0;
}

p{
  margin: 1em 0;
}

.container {
  width: 100%;
  @include clearfix;

  @media only screen and (min-width: $break-large) {
    @include row(12);
    margin: 0 auto;
  }
}

header {
  background-color: $pink;
  color: $white;
  padding: 10px 0;

  .container {
    @media only screen and (min-width: $break-header) and (max-width: $break-large - 1) {
      @include column(7);
      display: block;
      float: none;
      margin: 0 auto !important;
    }
  }

  #logo {
    @include column(6);

    float: left;
    margin-left: 0;

    @media only screen and (max-width: $break-large - 1) {
      width: auto;
    }

    @media only screen and (max-width: $break-header - 1) {
      margin-bottom: $button-padding;
      width: 100%;

      a {
        margin: 0 auto;
      }
    }

    a {
      @media only screen and (max-width: $break-mobile-land - 1) {
        @include replace-text-with-dimensions-retina('gdipgh-logo-small');
      }

      @media only screen and (min-width: $break-mobile-land) {
        @include replace-text-with-dimensions-retina('gdipgh-logo');
      }

      color: $white;
      display: block;
    }
  }

  .nav {
    @include clearfix();

    @media only screen and (min-width: $break-large) {
      @include column(6);
      margin: 60px 0 0;

      li {
        margin: 0 2px;
      }
    }

    @media only screen and (min-width: $break-header) and (max-width: $break-large - 1) {
      @include column(1);
      // width: auto;

      li {
        margin: 1px 2px;
      }
    }

    @media only screen and (max-width: $break-header - 1) {
      clear: both;
      width: 100%;
    }

    font-size: 0.9em;
    text-align: center;
    text-transform: uppercase;

    li {
      @include inline-block;
    }

    a {
      @include button;
      @include transition-duration(0.3s);
      @include transition-property(all);

      color: $white;
      display: block;
      text-decoration: none;

      &:hover, &:active, &.active {
        background: $red;
      }
    }
  }
}

#main {
  background-color: $white;
  padding: 20px 0;
  position: relative;

  .content {
    display: block;
    margin: 0 $gutter-width / 2;

    @media only screen and (min-width: $break-large) {
      @include column(8);
    }

    @media only screen and (min-width: $break-mobile-land + 1) and (max-width: $break-large - 1) {
      margin-right: image-width($ribbon-image) + $ribbon-padding * 2;
    }

    @media only screen and (max-width: $break-mobile-land) {
      margin-right: $gutter-width / 2;
    }
  }

  .sidebar {
    @include border-radius(4px);
    @include box-sizing(border-box);

    background-color: $pink;
    display: block;
    margin: $gutter-width auto 0 auto;
    padding: $gutter-width;
    padding-top: image-height($ribbon-image) + $gutter-width / 2;
    position: relative;
    width: image-width($ribbon-image) - $ribbon-padding;

    @media only screen and (min-width: $break-large) {
      float: right;
      margin: $gutter-width;
    }

    @media only screen and (min-width: $break-mobile-land + 1) and (max-width: $break-large - 1) {
      margin: $gutter-width auto 0 auto;
      position: absolute;
      right: $gutter-width;
      top: $gutter-width;
    }

    @media only screen and (max-width: $break-mobile-land) {
      position: relative;
      right: auto;
    }

    h3 {
      @include ribbon;

      left: $ribbon-padding / 2 * -1;
      position: absolute;
      top: 0;
    }
  }
}

@mixin footer-section-item{
  @media only screen and (min-width: $break-large) {
    margin: 10px;
  }

  @media only screen and (max-width: $break-large - 1) {
    margin: 10px auto 20px auto;
  }

  @media only screen and (max-width: 600px - 1) {
    display: block;
    float: none;
    width: 100%;
  }
}

#footer-section {
  background-color: $blue;
  color: $white;
  padding: 10px 0;

  h3 {
    @include ribbon;
  }

  p, form {
    width: image-width($ribbon-image);
    margin: 0 auto;
    font-size: 0.9em;
  }

  .about {
    @include column(4);
    @include footer-section-item;
  }

  .social {
    @include column(4);
    @include footer-section-item;

    div {
      margin: 0 10px;
    }

    ul {
      text-align: center;

      li {
        @include inline-block;

        @each $site in facebook, meetup, twitter {
          &.#{$site} {
            a {
              @include replace-text-with-dimensions-retina('#{$site}_color');

              &:hover {
                @include replace-text-with-dimensions-retina('#{$site}');
              }
            }
          }
        }

        a {
          display: block;
        }
      }
    }
  }

  .mailing-list {
    @include column(4);
    @include clearfix();
    @include footer-section-item;

    input[type='email'] {
      @include background(image-url('email-icon.png') 6px 50% $white no-repeat);
      @include border-radius(4px);
      @include box-sizing('border-box');

      border: none;
      float: left;
      height: 25px;
      margin: 0.5em 0;
      padding: 2px 10px 2px 32px;
      width: 100%;
    }

    input[type='submit'] {
      @include button;

      background: $black;
      border: none;
      clear: both;
      color: $white;
      float: right;
      font-size: 0.9em;
      margin: 0;
      text-transform: uppercase;
    }
  }
}

#comic {
  color: $white;
  display: block;
  margin: 0 auto;
  width: image-width('gdi-comic.png');
  height: image-height('gdi-comic.png');

  // @media only screen and (min-width: $break-mobile-land) {
  //   @include replace-text-with-dimensions-retina('gdi-comic');
  // }

  // @media only screen and (min-width: $break-mobile-land) and (max-width: 700px) {
  //   background-position: 50% 0;
  //   width: 100%;
  // }

  // @media only screen and (max-width: $break-mobile-land - 1) {
  //   background: none;
  // }
}

.home {
  #main {
    background-color: $pink;
  }
}

