/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/typography/text/replacement";
@import "grid.scss";

$pink: #fe5a62;
$blue: #767495;
$white: #fff;
$black: #000;

$primary-font: Helvetica;

body {
  background-color: $pink;
  font-family: $primary-font;
}

.container {
  @include row(12);
  width: 960px;
  margin: 0 auto;
}

header {
  background-color: $pink;
  color: $white;
  padding: 10px 0;

  #logo {
    float: left;

    a {
      @include replace-text-with-dimensions('gdipgh-logo.png');
      display: block;
    }
  }
}

#main {
  background-color: $white;
  padding: 20px 0;
}

#footer-section {
  background-color: $blue;
  color: $white;
  padding: 10px 0;

  #mailing-list {
    @include column(6);
  }

  #social {
    @include column(4);
    @include push(2);

    div {
      margin: 0 10px;
    }

    ul {
      li {
        float: left;

        @each $site in facebook, meetup, twitter {
          &.#{$site} {
            a {
              @include replace-text-with-dimensions('#{$site}_color.png');

              &:hover {
                @include replace-text-with-dimensions('#{$site}.png');
              }
            }
          }
        }

        a {
          display: block;
        }
      }
    }
  }
}

#comic {
  @include replace-text-with-dimensions('gdi-comic.png');

  margin: 0 auto;
}
