<div id="footer-section">
  <div class="container">
    <div class="about">
      <h4>About Us</h4>
      <p>We teach classes, build community, and provide resources for coding education in Pittsburgh, PA. <a href="{{site.baseurl}}/about">learn more</a></p>
    </div>

    <div class="social">
      <h4>connect with us</h4>
      <ul>
        <li class="meetup">
          <a href="http://www.meetup.com/Girl-Develop-IT-Pittsburgh/">meetup</a>
        </li>
        <li class="twitter">
          <a href="http://twitter.com/#!/gdipgh">twitter</a>
        </li>
        <li class="facebook">
          <a href="http://www.facebook.com/GirlDevelopItPittsburgh">facebook</a>
        </li>
        <li class="github">
          <a href="https://github.com/gdipgh">github</a>
        </li>
      </ul>
    </div>

    <div class="mailing-list">
      <h4>join our mailing list</h4>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="http://girldevelopitpgh.us5.list-manage2.com/subscribe/post?u=967dd74c2d4b9448479ee69f6&amp;id=6a621ee7dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
          <label for="mce-EMAIL" style="display: none;">join our mailing list</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required>
          <input type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
  </div>
</div>

<footer>
  <ul id="gdi-network">
    <li>
      Find Girl Develop IT in:
    </li>
    <li>
      <a href="http://www.girldevelopit.com/">New York</a>
    </li>
    <li>
      <a href="http://girldevelopitcbus.com/">Columbus</a>
    </li>
    <li>
      <a href="http://www.meetup.com/Girl-Develop-It-Philadelphia/">Philadelphia</a>
    </li>
    <li>
      <a href="http://www.meetup.com/Girl-Develop-It-Cincinnati/">Cincinnati</a>
    </li>
    <li>
      <a href="http://meetup.com/Girl-Develop-It-San-Francisco">San Francisco</a>
    </li>
    <li>
      <a href="http://www.meetup.com/Girl-Develop-It-Austin/">Austin</a>
    </li>
    <li>
      <a href="http://www.meetup.com/Girl-Develop-It-Ottawa/">Ottowa</a>
    </li>
    <li>
      <a href="http://meetup.com/girldevelopit-sydney">Sydney</a>
    </li>
  </ul>
</footer>