<div id="footer-section">
  <div class="container">
    <div id="mailing-list">
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="http://girldevelopitpgh.us5.list-manage2.com/subscribe/post?u=967dd74c2d4b9448479ee69f6&amp;id=6a621ee7dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
          <h3><label for="mce-EMAIL">join our mailing list</label></h3>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required>
          <input type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </form>
      </div>
      <!--End mc_embed_signup-->
    </div>

    <div id="social">
      <h3>connect with us</h3>
      <ul>
        <li class="meetup">
          <a href="http://www.meetup.com/Girl-Develop-IT-Pittsburgh/">meetup</a>
        </li>
        <li class="twitter">
          <a href="http://twitter.com/#!/gdipgh">twitter</a>
        </li>
        <li class="facebook">
          <a href="http://www.facebook.com/GirlDevelopItPittsburgh">facebook</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<footer>
</footer>