<head>
  <title>Girl Develop IT Pittsburgh | {{ page.title }}</title>
  <!-- typekit -->
  <script type="text/javascript" src="//use.typekit.net/iiu0hrm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/screen.css" />
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/stylesheets/imgplayer.css" />

  <script src="{{site.baseurl}}/javascripts/modernizr.js"></script>
  <script src="{{site.baseurl}}/javascripts/jquery-1.7.2.min.js"></script>
  <script src="{{site.baseurl}}/javascripts/jquery.imgplayer.js"></script>
  <script src="{{site.baseurl}}/javascripts/comic.js"></script>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
</head>