<h4>Join us!</h4>
<p>Things are getting started, and we want you to get involved!</p>
<p>Our upcoming events include:
  <a href="http://www.meetup.com/Girl-Develop-IT-Pittsburgh/events/78742602/">a social</a>,
  <a href="http://www.meetup.com/Girl-Develop-IT-Pittsburgh/events/80004082/">classes</a>, and
  <a href="http://www.meetup.com/Girl-Develop-IT-Pittsburgh/events/80178482/">code & coffee meetups</a>.
</p>
<p>Join our
  <a href="http://www.meetup.com/Girl-Develop-IT-Pittsburgh/">Meetup group</a>
  to find out about events. Visit our
  <a href="https://groups.google.com/forum/?fromgroups#!forum/girl-develop-it-pittsburgh">Google group</a>
  to chat with people online. You can also find us on
  <a href="http://twitter.com/#!/gdipgh">Twitter</a> and
  <a href="http://www.facebook.com/GirlDevelopItPittsburgh">Facebook</a>.
</p>
