/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194@girldevelopitpgh.com/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194@girldevelopitpgh.com/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194@girldevelopitpgh.com/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194@girldevelopitpgh.com/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194@girldevelopitpgh.com/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194@girldevelopitpgh.com/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p194@girldevelopitpgh.com/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p194@girldevelopitpgh.com/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194@girldevelopitpgh.com/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 41, ../sass/grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 27, ../sass/grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 31, ../sass/grid.scss */
body:after {
  clear: both;
}

/* line 70, ../sass/screen.scss */
body {
  background-color: #fe5a62;
  font-family: "proxima-nova", sans-serif;
  line-height: 1.3;
}

/* line 76, ../sass/screen.scss */
h1, h2, h3, h4 {
  font-weight: 600;
}

/* line 80, ../sass/screen.scss */
h1 {
  font-size: 250%;
}

/* line 84, ../sass/screen.scss */
h2 {
  border-bottom: solid 1px #7e2d30;
  color: #7e2d30;
  font-size: 32px;
  margin: 0 0 1em 0;
}

/* line 91, ../sass/screen.scss */
h3 {
  color: #7e2d30;
  font-size: 26px;
  margin: 1em 0 0.5em 0;
}

/* line 97, ../sass/screen.scss */
h4 {
  color: #7e2d30;
  font-size: 20px;
  margin: 1em 0 0.5em 0;
}

/* line 103, ../sass/screen.scss */
a {
  color: #7e2d30;
  text-decoration: none;
}
/* line 107, ../sass/screen.scss */
a:hover {
  color: #fe5a62;
  text-decoration: underline;
}

/* line 113, ../sass/screen.scss */
p, ul {
  margin: 1em 0;
}

/* line 118, ../sass/screen.scss */
ul li {
  margin: 0 0 0.25em 0;
}

/* line 123, ../sass/screen.scss */
.container {
  width: 100%;
  *zoom: 1;
}
/* line 27, ../sass/grid.scss */
.container:before, .container:after {
  content: "";
  display: table;
}
/* line 31, ../sass/grid.scss */
.container:after {
  clear: both;
}
@media only screen and (min-width: 960px) {
  /* line 123, ../sass/screen.scss */
  .container {
    display: block;
    width: 980.0px;
    margin: 0 -10px;
    *zoom: 1;
    margin: 0 auto;
  }
  /* line 27, ../sass/grid.scss */
  .container:before, .container:after {
    content: "";
    display: table;
  }
  /* line 31, ../sass/grid.scss */
  .container:after {
    clear: both;
  }
}

/* line 133, ../sass/screen.scss */
header {
  background-color: #fe5a62;
  color: white;
  padding: 10px 0;
}
@media only screen and (min-width: 540px) and (max-width: 959px) {
  /* line 138, ../sass/screen.scss */
  header .container {
    display: inline;
    float: left;
    width: 540px;
    margin: 0 10px;
    display: block;
    float: none;
    margin: 0 auto !important;
  }
}
/* line 147, ../sass/screen.scss */
header #logo {
  display: inline;
  float: left;
  width: 460px;
  margin: 0 10px;
  float: left;
  margin-left: 0;
}
@media only screen and (max-width: 959px) {
  /* line 147, ../sass/screen.scss */
  header #logo {
    width: auto;
  }
}
@media only screen and (max-width: 539px) {
  /* line 147, ../sass/screen.scss */
  header #logo {
    margin-bottom: 4px;
    width: 100%;
  }
  /* line 161, ../sass/screen.scss */
  header #logo a {
    margin: 0 auto;
  }
}
/* line 166, ../sass/screen.scss */
header #logo a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/gdipgh-logo-small.png?1342568744');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 317px;
  height: 68px;
  color: white;
  display: block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 166, ../sass/screen.scss */
  header #logo a {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/gdipgh-logo-small@2x.png?1342568744');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    height: 67.5px;
    width: 317px;
  }
}
@media only screen and (min-width: 480px) {
  /* line 166, ../sass/screen.scss */
  header #logo a {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/gdipgh-logo.png?1342568744');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 401px;
    height: 91px;
  }
}
@media only screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 480px) and (min-device-pixel-ratio: 1.5) {
  /* line 166, ../sass/screen.scss */
  header #logo a {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/gdipgh-logo@2x.png?1342568744');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    height: 90.5px;
    width: 400px;
  }
}
/* line 178, ../sass/screen.scss */
header .nav {
  *zoom: 1;
  font-size: 90%;
  text-align: center;
  text-transform: uppercase;
}
/* line 27, ../sass/grid.scss */
header .nav:before, header .nav:after {
  content: "";
  display: table;
}
/* line 31, ../sass/grid.scss */
header .nav:after {
  clear: both;
}
@media only screen and (min-width: 960px) {
  /* line 178, ../sass/screen.scss */
  header .nav {
    display: inline;
    float: left;
    width: 460px;
    margin: 0 10px;
    margin: 60px 0 0;
  }
  /* line 185, ../sass/screen.scss */
  header .nav li {
    margin: 0 2px;
  }
}
@media only screen and (min-width: 540px) and (max-width: 959px) {
  /* line 178, ../sass/screen.scss */
  header .nav {
    display: inline;
    float: left;
    width: 60px;
    margin: 0 10px;
  }
  /* line 194, ../sass/screen.scss */
  header .nav li {
    margin: 1px 2px;
  }
}
@media only screen and (max-width: 539px) {
  /* line 178, ../sass/screen.scss */
  header .nav {
    clear: both;
    width: 100%;
  }
}
/* line 208, ../sass/screen.scss */
header .nav li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 212, ../sass/screen.scss */
header .nav a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 8px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  color: white;
  display: block;
  text-decoration: none;
}
/* line 221, ../sass/screen.scss */
header .nav a:hover, header .nav a:active, header .nav a.active {
  background: #7e2d30;
}

/* line 228, ../sass/screen.scss */
#main {
  background-color: white;
  padding: 20px 0;
  position: relative;
}
/* line 233, ../sass/screen.scss */
#main ul {
  list-style: disc;
  margin-left: 2em;
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  /* line 238, ../sass/screen.scss */
  #main .container {
    position: relative;
    width: auto;
    padding-right: 287px;
  }
}
/* line 246, ../sass/screen.scss */
#main .content {
  display: block;
  margin: 0 10px;
}
@media only screen and (min-width: 960px) {
  /* line 246, ../sass/screen.scss */
  #main .content {
    display: inline;
    float: left;
    width: 620px;
    margin: 0 10px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  /* line 246, ../sass/screen.scss */
  #main .content {
    float: left;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  /* line 246, ../sass/screen.scss */
  #main .content {
    margin-right: 10px;
  }
}
/* line 264, ../sass/screen.scss */
#main .sidebar {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fe5a62;
  display: block;
  font-size: 90%;
  margin: 20px auto 0 auto;
  padding: 20px;
  padding-top: 40px;
  position: relative;
  width: 239px;
}
@media only screen and (min-width: 960px) {
  /* line 264, ../sass/screen.scss */
  #main .sidebar {
    float: right;
    margin: 20px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 959px) {
  /* line 264, ../sass/screen.scss */
  #main .sidebar {
    float: left;
    margin-right: -287px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 264, ../sass/screen.scss */
  #main .sidebar {
    position: relative;
    right: auto;
  }
}
/* line 292, ../sass/screen.scss */
#main .sidebar h4 {
  background: url('../images/ribbon.png?1342570701') no-repeat 50% 50%;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 0.5em 0;
  min-width: 255px;
  text-align: center;
  text-transform: uppercase;
  left: -8px;
  position: absolute;
  top: 0;
}
/* line 300, ../sass/screen.scss */
#main .sidebar a {
  color: #7e2d30;
}
/* line 303, ../sass/screen.scss */
#main .sidebar a:hover {
  color: black;
}

/* line 326, ../sass/screen.scss */
#footer-section {
  background-color: #767495;
  color: white;
  padding: 10px 0;
}
/* line 331, ../sass/screen.scss */
#footer-section h4 {
  background: url('../images/ribbon.png?1342570701') no-repeat 50% 50%;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 0.5em 0;
  min-width: 255px;
  text-align: center;
  text-transform: uppercase;
}
/* line 335, ../sass/screen.scss */
#footer-section p, #footer-section form {
  width: 255px;
  margin: 0 auto;
  font-size: 90%;
}
/* line 341, ../sass/screen.scss */
#footer-section a {
  color: black;
  text-decoration: underline;
}
/* line 345, ../sass/screen.scss */
#footer-section a:hover {
  color: white;
}
/* line 350, ../sass/screen.scss */
#footer-section .about {
  display: inline;
  float: left;
  width: 300px;
  margin: 0 10px;
}
@media only screen and (min-width: 960px) {
  /* line 350, ../sass/screen.scss */
  #footer-section .about {
    margin: 10px;
  }
}
@media only screen and (max-width: 959px) {
  /* line 350, ../sass/screen.scss */
  #footer-section .about {
    margin: 10px auto 20px auto;
  }
}
@media only screen and (max-width: 599px) {
  /* line 350, ../sass/screen.scss */
  #footer-section .about {
    display: block;
    float: none;
    width: 100%;
  }
}
/* line 355, ../sass/screen.scss */
#footer-section .social {
  display: inline;
  float: left;
  width: 300px;
  margin: 0 10px;
}
@media only screen and (min-width: 960px) {
  /* line 355, ../sass/screen.scss */
  #footer-section .social {
    margin: 10px;
  }
}
@media only screen and (max-width: 959px) {
  /* line 355, ../sass/screen.scss */
  #footer-section .social {
    margin: 10px auto 20px auto;
  }
}
@media only screen and (max-width: 599px) {
  /* line 355, ../sass/screen.scss */
  #footer-section .social {
    display: block;
    float: none;
    width: 100%;
  }
}
/* line 359, ../sass/screen.scss */
#footer-section .social div {
  margin: 0 10px;
}
/* line 363, ../sass/screen.scss */
#footer-section .social ul {
  text-align: center;
}
/* line 366, ../sass/screen.scss */
#footer-section .social ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 371, ../sass/screen.scss */
#footer-section .social ul li.facebook a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/facebook_color.png?1342656852');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 61px;
  height: 62px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 371, ../sass/screen.scss */
  #footer-section .social ul li.facebook a {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/facebook_color@2x.png?1342656852');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    height: 61px;
    width: 61.5px;
  }
}
/* line 374, ../sass/screen.scss */
#footer-section .social ul li.facebook a:hover {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/facebook.png?1342656852');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 61px;
  height: 62px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 374, ../sass/screen.scss */
  #footer-section .social ul li.facebook a:hover {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/facebook@2x.png?1342656852');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    height: 61px;
    width: 61.5px;
  }
}
/* line 371, ../sass/screen.scss */
#footer-section .social ul li.meetup a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/meetup_color.png?1342656660');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 62px;
  height: 62px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 371, ../sass/screen.scss */
  #footer-section .social ul li.meetup a {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/meetup_color@2x.png?1342656660');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    height: 61px;
    width: 61px;
  }
}
/* line 374, ../sass/screen.scss */
#footer-section .social ul li.meetup a:hover {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/meetup.png?1342656660');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 62px;
  height: 62px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 374, ../sass/screen.scss */
  #footer-section .social ul li.meetup a:hover {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/meetup@2x.png?1342656660');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    height: 61px;
    width: 61px;
  }
}
/* line 371, ../sass/screen.scss */
#footer-section .social ul li.twitter a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/twitter_color.png?1342656674');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 61px;
  height: 62px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 371, ../sass/screen.scss */
  #footer-section .social ul li.twitter a {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/twitter_color@2x.png?1342656674');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    height: 61px;
    width: 61.5px;
  }
}
/* line 374, ../sass/screen.scss */
#footer-section .social ul li.twitter a:hover {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/twitter.png?1342656674');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 61px;
  height: 62px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 374, ../sass/screen.scss */
  #footer-section .social ul li.twitter a:hover {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/twitter@2x.png?1342656674');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    height: 61px;
    width: 61.5px;
  }
}
/* line 371, ../sass/screen.scss */
#footer-section .social ul li.github a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/github_color.png?1342916626');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 61px;
  height: 62px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 371, ../sass/screen.scss */
  #footer-section .social ul li.github a {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/github_color@2x.png?1342916626');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    height: 61px;
    width: 61.5px;
  }
}
/* line 374, ../sass/screen.scss */
#footer-section .social ul li.github a:hover {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/github.png?1342916626');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 61px;
  height: 62px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 374, ../sass/screen.scss */
  #footer-section .social ul li.github a:hover {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/github@2x.png?1342916626');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    height: 61px;
    width: 61.5px;
  }
}
/* line 381, ../sass/screen.scss */
#footer-section .social ul li a {
  display: block;
}
/* line 388, ../sass/screen.scss */
#footer-section .mailing-list {
  display: inline;
  float: left;
  width: 300px;
  margin: 0 10px;
  *zoom: 1;
}
/* line 27, ../sass/grid.scss */
#footer-section .mailing-list:before, #footer-section .mailing-list:after {
  content: "";
  display: table;
}
/* line 31, ../sass/grid.scss */
#footer-section .mailing-list:after {
  clear: both;
}
@media only screen and (min-width: 960px) {
  /* line 388, ../sass/screen.scss */
  #footer-section .mailing-list {
    margin: 10px;
  }
}
@media only screen and (max-width: 959px) {
  /* line 388, ../sass/screen.scss */
  #footer-section .mailing-list {
    margin: 10px auto 20px auto;
  }
}
@media only screen and (max-width: 599px) {
  /* line 388, ../sass/screen.scss */
  #footer-section .mailing-list {
    display: block;
    float: none;
    width: 100%;
  }
}
/* line 393, ../sass/screen.scss */
#footer-section .mailing-list input[type='email'] {
  background: url('../images/email-icon.png?1342487058') 6px 50% white no-repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  float: left;
  height: 25px;
  margin: 0.5em 0;
  padding: 2px 10px 2px 32px;
  width: 100%;
}
/* line 406, ../sass/screen.scss */
#footer-section .mailing-list input[type='submit'] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 8px;
  background: black;
  border: none;
  clear: both;
  color: white;
  float: right;
  font-size: 90%;
  margin: 0;
  text-transform: uppercase;
}

/* line 421, ../sass/screen.scss */
#gdi-network {
  color: white;
  text-align: center;
}
/* line 425, ../sass/screen.scss */
#gdi-network li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  list-style: disc;
  text-transform: uppercase;
}
/* line 430, ../sass/screen.scss */
#gdi-network li a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}
/* line 435, ../sass/screen.scss */
#gdi-network li a:hover {
  color: #7e2d30;
  text-decoration: underline;
}

/* line 443, ../sass/screen.scss */
#comic {
  color: white;
  display: block;
  margin: 0 auto;
  width: 703px;
  height: 471px;
}

/* line 465, ../sass/screen.scss */
.home #main {
  background-color: #fe5a62;
}
/* line 468, ../sass/screen.scss */
.home #main .container {
  padding: 0;
}
