@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p194@girldevelopitpgh.com/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p194@girldevelopitpgh.com/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p194@girldevelopitpgh.com/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194@girldevelopitpgh.com/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p194@girldevelopitpgh.com/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p194@girldevelopitpgh.com/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p194@girldevelopitpgh.com/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p194@girldevelopitpgh.com/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p194@girldevelopitpgh.com/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 41, ../sass/grid.scss */
body {
  width: 100%;
  *zoom: 1;
}
/* line 27, ../sass/grid.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 31, ../sass/grid.scss */
body:after {
  clear: both;
}

/* line 43, ../sass/screen.scss */
body {
  background-color: #fe5a62;
  font-family: Helvetica;
}

/* line 48, ../sass/screen.scss */
h1 {
  font-size: 2em;
}

/* line 52, ../sass/screen.scss */
.container {
  display: block;
  width: 980.0px;
  margin: 0 -10px;
  *zoom: 1;
  margin: 0 auto;
  width: 960px;
}
/* line 27, ../sass/grid.scss */
.container:before, .container:after {
  content: "";
  display: table;
}
/* line 31, ../sass/grid.scss */
.container:after {
  clear: both;
}

/* line 58, ../sass/screen.scss */
header {
  background-color: #fe5a62;
  color: white;
  padding: 10px 0;
}
/* line 63, ../sass/screen.scss */
header #logo {
  display: inline;
  float: left;
  width: 460px;
  margin: 0 10px;
  float: left;
  margin-left: 0;
}
/* line 69, ../sass/screen.scss */
header #logo a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/gdipgh-logo.png?1342245579');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 405px;
  height: 100px;
  color: white;
  display: block;
}
/* line 77, ../sass/screen.scss */
header .nav {
  margin-top: 65px;
  text-transform: uppercase;
}
/* line 81, ../sass/screen.scss */
header .nav li {
  float: left;
  margin: 0 2px;
}
/* line 87, ../sass/screen.scss */
header .nav a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 10px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  color: white;
  text-decoration: none;
}
/* line 95, ../sass/screen.scss */
header .nav a:hover {
  background: #893135;
}
/* line 99, ../sass/screen.scss */
header .nav a.active {
  color: #893135;
}
/* line 102, ../sass/screen.scss */
header .nav a.active:hover {
  color: white;
}

/* line 110, ../sass/screen.scss */
#title {
  background: #eeeeee;
  border-bottom: solid 1px #cccccc;
  font-family: "PT Sans", sans-serif;
  padding: 0.5em 0;
}
/* line 116, ../sass/screen.scss */
#title h1 {
  margin: 0 10px;
}

/* line 121, ../sass/screen.scss */
#main {
  background-color: white;
  padding: 20px 0;
}
/* line 125, ../sass/screen.scss */
#main .content {
  display: inline;
  float: left;
  width: 620px;
  margin: 0 10px;
  margin: 0 10px;
}

/* line 132, ../sass/screen.scss */
#footer-section {
  background-color: #767495;
  color: white;
  padding: 10px 0;
}
/* line 137, ../sass/screen.scss */
#footer-section h3 {
  text-transform: uppercase;
}
/* line 141, ../sass/screen.scss */
#footer-section #mailing-list {
  display: inline;
  float: left;
  width: 220px;
  margin: 0 10px;
}
/* line 144, ../sass/screen.scss */
#footer-section #mailing-list input[type='email'] {
  background: url('../images/email-icon.png?1342487058') 6px 50% white no-repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  float: left;
  height: 25px;
  margin: 0.5em 0;
  padding: 2px 10px 2px 32px;
  width: 100%;
}
/* line 157, ../sass/screen.scss */
#footer-section #mailing-list input[type='submit'] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 10px;
  background: black;
  border: none;
  clear: both;
  color: white;
  float: right;
  font-size: 0.9em;
  margin: 0;
  text-transform: uppercase;
}
/* line 171, ../sass/screen.scss */
#footer-section #social {
  display: inline;
  float: left;
  width: 300px;
  margin: 0 10px;
  margin-left: 410px;
}
/* line 175, ../sass/screen.scss */
#footer-section #social div {
  margin: 0 10px;
}
/* line 180, ../sass/screen.scss */
#footer-section #social ul li {
  float: left;
}
/* line 185, ../sass/screen.scss */
#footer-section #social ul li.facebook a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/facebook_color.png?1341975675');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 80px;
  height: 80px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 185, ../sass/screen.scss */
  #footer-section #social ul li.facebook a {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/facebook_color@2x.png?1341975675');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    height: 80px;
    width: 80px;
  }
}
/* line 188, ../sass/screen.scss */
#footer-section #social ul li.facebook a:hover {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/facebook.png?1341975675');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 80px;
  height: 80px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 188, ../sass/screen.scss */
  #footer-section #social ul li.facebook a:hover {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/facebook@2x.png?1341975675');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    height: 80px;
    width: 80px;
  }
}
/* line 185, ../sass/screen.scss */
#footer-section #social ul li.meetup a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/meetup_color.png?1341976075');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 80px;
  height: 80px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 185, ../sass/screen.scss */
  #footer-section #social ul li.meetup a {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/meetup_color@2x.png?1341976075');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    height: 80px;
    width: 80px;
  }
}
/* line 188, ../sass/screen.scss */
#footer-section #social ul li.meetup a:hover {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/meetup.png?1341976075');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 80px;
  height: 80px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 188, ../sass/screen.scss */
  #footer-section #social ul li.meetup a:hover {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/meetup@2x.png?1341976075');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    height: 80px;
    width: 80px;
  }
}
/* line 185, ../sass/screen.scss */
#footer-section #social ul li.twitter a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/twitter_color.png?1341976163');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 80px;
  height: 80px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 185, ../sass/screen.scss */
  #footer-section #social ul li.twitter a {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/twitter_color@2x.png?1341976163');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    height: 80px;
    width: 80px;
  }
}
/* line 188, ../sass/screen.scss */
#footer-section #social ul li.twitter a:hover {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/twitter.png?1341976163');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 80px;
  height: 80px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 188, ../sass/screen.scss */
  #footer-section #social ul li.twitter a:hover {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/twitter@2x.png?1341976163');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    height: 80px;
    width: 80px;
  }
}
/* line 195, ../sass/screen.scss */
#footer-section #social ul li a {
  display: block;
}

/* line 203, ../sass/screen.scss */
#comic {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/gdi-comic.png?1342464014');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 790px;
  height: 524px;
  background-color: white;
  border: solid 2px black;
  margin: 0 auto;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 203, ../sass/screen.scss */
  #comic {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('../images/gdi-comic@2x.png?1342463927');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;
    height: 524.5px;
    width: 790px;
  }
}

/* line 212, ../sass/screen.scss */
.home #main {
  background-color: #fe5a62;
}
