<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/screen.css" />
  </head>

  <body>
    <header>
      <div class="container">
        <h1 id="logo">
          <a href="/">Girl Develop IT Pittsburgh</a>
        </h1>
      </div>
    </header>

    <div id="main">
      <div class="container">
        <div id="comic">
          It can be intimidating for women to learn and ask questions when they are in an extreme minority. While open and welcoming, today's budding developer community is up to 91% male. There isn't a comfortable place where women can learn at their own pace and not be afraid to ask "stupid questions."

          We decided it was time to provide a place where all questions are OK and everyone can learn in a supportive environment. Our courses focus on coding, leveraging existing technology, and having something to show for it (aka building sweet websites).

          Want to learn how to code? Have a great idea? Don't be shy. Develop it.
        </div>
        {{ content }}
      </div>
    </div>

    <div id="footer-section">
      <div class="container">
        <div id="mailing-list">
          <span>join our mailing list</span>
        </div>

        <div id="social">
          <div>connect with us</div>
          <ul>
            <li class="meetup">
              <a href="http://www.meetup.com/Girl-Develop-IT-Pittsburgh/">meetup</a>
            </li>
            <li class="twitter">
              <a href="http://twitter.com/#!/gdipgh">twitter</a>
            </li>
            <li class="facebook">
              <a href="http://www.facebook.com/GirlDevelopItPittsburgh">facebook</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <footer>
    </footer>
  </body>
</html>