<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="{{page.title | downcase}}">
    {% include header.html %}

    <div id="main">
      <div class="container {% if page.hidesidebar == true %}no-sidebar{% endif %}">
        <div class="content {% if page.hidesidebar == true %}no-sidebar{% endif %}">
          <h2>{{ page.title }}</h2>
          {{ content }}
        </div>
        {% if page.hidesidebar != true %}
          <div class="sidebar">
            {% include survey.html %}
          </div>
        {% endif %}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>