<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="{{page.title | downcase}}">
    {% include header.html %}

    <div id="main">
      <div class="container">
        <div id="comic-left">V</div>
        <div id="comic-right">U</div>
        <img id="comic" src="{{site.baseurl}}/images/gdi-comic.png"
          width="703" height="471"
          alt="It can be intimidating for women to learn and ask questions when they are in an extreme minority. While open and welcoming, today's budding developer community is up to 91% male. There isn't a comfortable place where women can learn at their own pace and not be afraid to ask 'stupid questions.'

          We decided it was time to provide a place where all questions are OK and everyone can learn in a supportive environment. Our courses focus on coding, leveraging existing technology, and having something to show for it (aka building sweet websites).

          Want to learn how to code? Have a great idea? Don't be shy. Develop it." />
        <!-- Navigation -->
        <nav id="imgplayer-nav"></nav>

        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>